.header{
    padding: 20px 20px;
    background-color: #F6F6F6;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.nisum-image{
    height: 50px;
}
.icons-block{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.account-container{
    display: flex;
    align-items: center;
}
.avatar{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
}