.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions-list{
    width: 70%;
    margin: auto;
    text-align: left;
}
.questions-list-item{
    margin: 30px 0px;
}
.quiz-page-title{
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.questions-pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-title{
    font-size: 17px;
    font-weight: 600;
}
.check-group-container{
    display: flex;
    flex-direction: column;
}
.ant-checkbox-wrapper {
    margin: 0px 0px 10px 0px !important;
}
.ant-radio-disabled + span, .ant-checkbox-disabled + span, .ant-input[disabled] {
    color: black !important;
}